<section>
    <article>
        <header>
            <app-usuario-configuraciones></app-usuario-configuraciones>
        </header>
        <div class="contenedor">
            <router-outlet></router-outlet>
        </div>
    </article>
    <aside>
        <img src="../../../assets/nav/logo.png" alt="">
        <ul>
            <li>
                <a href="#" routerLink="/inicio">
                    <img src="../../../assets/nav/home.png" alt="">
                    <p>Menu Principal</p>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/vehiculos">
                    <img src="../../../assets/nav/vehiculos.png" alt="">
                    <p>Vehiculos</p>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/proveedores">
                    <img src="../../../assets/nav/proveedores.png" alt="">
                    <p>Proveedores</p>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/reportes">
                    <img src="../../../assets/nav/reportes.png" alt="">
                    <p>Reportes</p>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/entradas-salidas">
                    <img src="../../../assets/nav/entradas.salidas.png" alt="">
                    <p>Entradas/Salidas</p>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/rutas">
                    <img src="../../../assets/nav/rutas.png" alt="">
                    <p>Rutas</p>
                </a>
            </li>
        </ul>
    </aside>
</section>
