<!-- <script src ="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>  
<script src ="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>  
<script src ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>  
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">  
 -->

<div class="content" *ngIf="isEmployeePage">

    <div class="barraprincipal">
      <h1> Empleados </h1>
  
      <div class="top-buttons">
          <button class="new" (click)="openModal(false)"> <i class="fa-solid fa-circle-plus"></i> Nuevo </button>
          <button class="new" (click)="isEmployeePage = false"> Puestos </button>
      </div>
    </div>
        <div class="table">

            <div class="row">
              <div class="col-9">
                <div *ngIf="showSearchInput">
                  <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="search()">
                </div>
              </div>
              <div class="col">
                <button class="btn-search" (click)="toggleSearchInput()"> <i class="fa-solid fa-magnifying-glass"></i> </button>
              </div>
            </div>

            <section class="example-container" tabindex="0">
            <table mat-table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="ID">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id_empleado}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="Primer_Apellido">
                    <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.apellido1}} </td>
                  </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Telefono">
                  <th mat-header-cell *matHeaderCellDef> Telefono </th>
                  <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="Puesto">
                    <th mat-header-cell *matHeaderCellDef> Puesto </th>
                    <td mat-cell *matCellDef="let element"> {{element.puesto.nombre}} </td>
                  </ng-container>
              
                <ng-container matColumnDef="Buttons">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element" class="btns" style="text-align: right; padding-right: 3rem;">
                         <button class="btn-icon" (click)="editEmpleado(element)"> <i class="fa-solid fa-pen"></i> </button>
                         <button class="btn-icon" (click)="changeStatusEmpleado(element)">
                          <i [ngClass]="(element.estatus ==='A') ? 'fa-solid fa-trash' : 'fa-solid fa-trash-can-arrow-up'"></i>
                         </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>            </table>
                <mat-paginator [pageSizeOptions]="[5,10, 20,40]" showFirstLastButtons #paginator ></mat-paginator>

            </section>

        </div>

</div>

<div class="content" *ngIf="!isEmployeePage">

  <div class="barraprincipal">
    <h1> Puestos </h1>

    <div class="top-buttons">
        <button class="new" (click)="openModalPuesto(false)"> <i class="fa-solid fa-circle-plus"></i> Nuevo </button>
        <button class="new" (click)="isEmployeePage = true"> Empleados </button>
    </div>
  </div>
      <div class="table">

        <div class="row">
          <div class="col-9">
            <div *ngIf="showSearchInput">
              <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="search()">
            </div>
          </div>
          <div class="col">
            <button class="btn-search" (click)="toggleSearchInput()"> <i class="fa-solid fa-magnifying-glass"></i> </button>
          </div>
        </div>

          <section class="example-container" tabindex="0">
          <table mat-table [dataSource]="dataSourcePuestos">

              <ng-container matColumnDef="ID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id_puesto}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="Nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
              </ng-container>
            

              <ng-container matColumnDef="Estatus">
                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                <td mat-cell *matCellDef="let element"> {{(element.estatus == "A") ? "Activo" : "Inactivo"}} </td>
              </ng-container>

              <ng-container matColumnDef="Buttons">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element" class="btns" style="text-align: right; padding-right: 3rem;">
                       <button class="btn-icon" (click)="editPuesto(element)"> <i class="fa-solid fa-pen"></i> </button>
                       <button class="btn-icon" (click)="changeStatusPuesto(element)">
                        <i [ngClass]="(element.estatus ==='A') ? 'fa-solid fa-trash' : 'fa-solid fa-trash-can-arrow-up'"></i>
                       </button>
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsPuestos; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsPuestos;"></tr>           
             </table>
              <mat-paginator [pageSizeOptions]="[5,10, 20,40]" showFirstLastButtons #paginatorPuestos ></mat-paginator>
          </section>
      </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 *ngIf="!isEditEmployee" class="modal-title" id="exampleModalLongTitle"> Registrar empleado</h2>
        <h2 *ngIf="isEditEmployee" class="modal-title" id="exampleModalLongTitle"> Modificar empleado</h2>
        <button class="closeModalButton" type="button" data-toggle="modal" (click)="closeModal()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <form [formGroup]="formEmpleado" (ngSubmit)="submitForm(isEditEmployee ? employeeEdit.id_empleado : undefined)">

        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre" required>
          </div>

          <div class="row mt-2">
            <div class="col form-group">
              <label for="apellido1">Primer Apellido</label>
              <input type="text" class="form-control" id="apellido1" formControlName="apellido1" placeholder="Primer Apellido">
            </div>
  
            <div class="col form-group">
              <label for="apellido2">Segundo Apellido</label>
              <input type="text" class="form-control" id="apellido2" formControlName="apellido2" placeholder="Segundo Apellido">
            </div>
          </div>

          <div class="row mt-2">
            <div class="col form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono">
            </div>
            <div class="col form-group">
              <label for="id_puesto">Puesto</label>
              <select class="form-control" id="id_puesto" formControlName="id_puesto" required>
                <option *ngFor="let puesto of puestos" [value]="puesto.id_puesto">{{ puesto.nombre }}</option>
              </select>
            </div>
          </div>

          <div class="row mt-2 form-group">
            <label for="correo">Correo</label>
            <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Correo">
          </div>

          <div class="row mt-2">
            <div class="col form-group">
              <label for="RFC">RFC</label>
              <input type="text" class="form-control" id="RFC" formControlName="RFC" placeholder="RFC">
            </div>
            <div class="col form-group">
              <label for="curp">CURP</label>
              <input type="text" class="form-control" id="curp" formControlName="curp" placeholder="CURP">
            </div>
          </div>

          <div class="row mt-2 form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion" placeholder="Dirección">
          </div>

          <div class="row mt-2">
            <div class="col-2">
              <p>Licencia</p>
            </div>
            <div class="col">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" (click)="isLicencia=false" [ngClass]="(isLicencia) ? 'btn btn-light' : 'btn btn-warning'" [style]="(isLicencia) ? 'color: black' : 'color: white'">NO</button>
                <button type="button" (click)="isLicencia=true" [ngClass]="(isLicencia) ? 'btn btn-warning' : 'btn btn-light'" [style]="(isLicencia) ? 'color: white' : 'color: black'">SI</button>
              </div>
            </div>
          </div>
          <div *ngIf="isLicencia">
            <div class="row">
              <label for="tipo_licencia">Tipo Licencia</label>
              <select formControlName="tipo_licencia" class="form-control" id="tipo_licencia" required>
                <option *ngFor="let tipo of tipos_licencia" [value]="tipo.tipo">{{ tipo.tipo }}</option>
              </select>
            </div>
            <div class="row">
              <div class="col">
                <label for="">Fecha Expedición:</label>
                <input formControlName="fecha_expedicion" class="form-control" type="date" name="" id="">
              </div>
              <div class="col">
                <label for="">Fecha Vencimiento:</label>
                <input formControlName="fecha_vencimiento" class="form-control" type="date" name="" id="">
              </div>
            </div>
          </div>
          
        </div>

        <div class="modal-footer">
          <button type="submit" class="closeModalButton">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenterPuesto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 *ngIf="!isEditPuesto" class="modal-title" id="exampleModalLongTitle"> Registrar puesto</h2>
        <h2 *ngIf="isEditPuesto" class="modal-title" id="exampleModalLongTitle"> Modificar puesto</h2>
        <button class="closeModalButton" type="button" data-toggle="modal" (click)="closeModalPuesto()">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <form [formGroup]="formPuesto" (ngSubmit)="submitFormPuesto(isEditPuesto ? puestoEdit.id_puesto : undefined)">

        <div class="modal-body">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre" required>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="closeModalButton">Guardar cambios</button>
        </div>
      </form>
    </div>
  </div>
</div>
