<div class="content">

    <div class="barraprincipal">

        <h1> Proveedores </h1>
    
        <div class="top-buttons">
            <button class="new"> <i class="fa-solid fa-circle-plus"></i> Nuevo </button>
            <button class="new"> Puesto </button>
        </div>

    </div>
    
    
        <div class="table">

            <button class="btn-search"> <i class="fa-solid fa-magnifying-glass"></i> </button>

            <section class="example-container" tabindex="0">
            <table mat-table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="ID">
                  <th mat-header-cell *matHeaderCellDef> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="Primer_Apellido">
                    <th mat-header-cell *matHeaderCellDef> Primer Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.Primer_Apellido}} </td>
                  </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Telefono">
                  <th mat-header-cell *matHeaderCellDef> Telefono </th>
                  <td mat-cell *matCellDef="let element"> {{element.Telefono}} </td>
                </ng-container>

                <ng-container matColumnDef="Puesto">
                    <th mat-header-cell *matHeaderCellDef> Puesto </th>
                    <td mat-cell *matCellDef="let element"> {{element.Puesto}} </td>
                  </ng-container>
              
                <ng-container matColumnDef="Buttons">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let element" class="btns" style="text-align: right; padding-right: 3rem;">
                         <button class="btn-icon"> <i class="fa-solid fa-pen"></i> </button>
                         <button class="btn-icon"> <i class="fa-solid fa-trash"></i></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>            </table>
            </section>

        </div>

</div>

