<app-encabezado></app-encabezado>
<section>
    <h3>Menú Principal</h3>
    <hr>
    <div class="contenedor-cartas">
        <button class="carta">
            <img src="../../../assets/vehiculo.png " alt="">
            <h4>Vehículos</h4>
        </button>
        <button class="carta">
            <img src="../../../assets/proveedores.png " alt="">
            <h4>Proveedores</h4>
        </button>
        <button class="carta">
            <img src="../../../assets/reportes.png " alt="">
            <h4>Reportes</h4>
        </button>
        <button class="carta">
            <img src="../../../assets/empleados.png " alt="">
            <h4>Empleados</h4>
        </button>
        <button class="carta">
            <img src="../../../assets/entradas.salidas.png " alt="">
            <h4>Entradas/Salidas</h4>
        </button>
        <button class="carta">
            <img src="../../../assets/rutas.png " alt="">
            <h4>Rutas</h4>
        </button>
    </div>
</section>
